body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.tick text {
  fill: #635f5d;
}
.mark .country {
  fill: #137b80;
  stroke: #c0c0bb;
}
.mark .interiors {
  fill: none;
  stroke: #199ba1;
}
.mark .graticule {
  fill: none;
  stroke: rgba(143, 143, 143, 0.3);
}
.mark .sphere {
  fill: #ebebeb;
}
