body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
.tick text {
  fill: #635f5d;
}
.mark .country {
  fill: #d8d8d8;
  stroke: #c0c0bb;
}
.mark .interiors {
  fill: none;
  stroke: #c9c1c1;
}
.mark circle {
  fill: #61b3b3;
  opacity: 0.3;
}
.mark .graticule {
  fill: none;
  stroke: rgba(143, 143, 143, 0.3);
}
.mark .sphere {
  fill: #ebebeb;
}
